*{
    box-sizing: border-box;
}
#signInForm{
    display: none;
    flex-direction: column;
    align-items: center;
}
.containear{
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(153, 211, 236);
    text-align: center;
}
#signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 7px;
}
.signIn,.signup{
    margin-top: 10px;
    margin-bottom: 20px;

}
button{
    outline: none;
    width: 190px;
    height: 40px;
    padding: 5px 10px;
    background-color: rgb(70, 154, 25);;
    border-radius: 5px;
    border: 2px solid rgb(70, 154, 25);
    color: white;

}
.btn{
    outline: none;
    width: 80px;
    height: 30px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(153, 211, 236);
    color: rgb(153, 211, 236);

}
.Error{
    width: 90%;
    margin: 5px auto;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(236, 14, 37);
}